<!DOCTYPE html>
@* This page is not actually used. Visual studio complains if I delete it. The actual Layout file is MosteitLayout.cshtml*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
