<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/Scripts/jquery-2.1.4.min.js")
    <title>@ViewBag.title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
