@{
    Layout = "~/Views/Shared/MosteitLayout.cshtml";
}

<div id='wrapper'>
    <h1>Error, must include both username and post text for new post</h1>
    <a href="/Threads/ViewThread?id=@ViewBag.ThreadID">Back to thread</a>
</div>